
<style>
   table th, td  {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
</style>


<table>
    <tr>
       <th>card_name</th>
       <th>card_number</th>
       <th>card_type</th>
       <th>expiry_date</th>
       <th>security_code</th>
       <th>account</th>
       <th>issuer</th>
       <th>profile</th>
    </tr>
   {% for Card in cards %}
   <tr>
       <td> {{Card.card_name}} </td>
       <td> {{Card.card_number}} </td>
       <td> {{Card.card_type}}</td> 
       <td> {{Card.expiry_date}} </td>
       <td> {{Card.security_code}} </td>
       <td> {{Card.account}} </td>
       <td> {{Card.issuer}} </td>

   <td><a  href="{%url 'card_profile' id=Card.id%}"> View Profile</a>{{card.profile}}</td>

    </tr>
   {%endfor%}
</table>