
    <style>
        table th, td  {
          border: 1px solid;
          padding: 10px;
        }
        th{
          color: white;
          background-color: rgb(18, 21, 216);
        }
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;
        }
    </style>
    
    <table>
        <tr>
       <th>First Name </th>
       <th>Age </th>
       <th>Email</th>
        </tr>
       {%for customer in customer %}
       <tr>
           <td> {{customer.first_name}} </td>
           <td> {{customer.age}} </td>
           <td> {{customer.email}} </td>
       </tr>
       {%endfor%}
    </table>



