<style>
   table th, td  {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
</style>

<table>
    <tr>
       <th>receipt_type</th>
       <th>date</th>
       <th>transaction</th>
       <th>file</th>
       
    </tr>
   {% for Receipt in receipts %}
   <tr>
       <td> {{Receipt.receipt_type}} </td>
       <td> {{Receipt.date}} </td>
       <td> {{Receipt.transaction}}</td> 
       <td> {{Receipt.file}} </td>
       
    </tr>
   {%endfor%}
</table>
