
<style>
   table th, td  {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
</style>


<table>
    <tr>
       <th>reward_reciepient</th>
       <th>date</th>
       <th>wallet</th>
       <th>points</th>
    
       
    </tr>
   {% for Reward in rewards %}
   <tr>
       <td> {{Reward.reward_reciepient}} </td>
       <td> {{Reward.date}} </td>
       <td> {{Reward.wallet}}</td> 
       <td> {{Reward.points}} </td>
       

    </tr>
   {%endfor%}
</table>