<style>
   table th, td  {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
</style>


<table>
    <tr>
       <th>date</th>
       <th>amount</th>
       <th>number</th>
       <th>code</th>
       <th>wallet</th>
       <th>receipt</th>
       <th>transaction_charge</th>
       <th>origin_account</t>
       <th>destination_account</th>
       <th>profile</th>


    </tr>
   {% for Transaction in transaction %}
   <tr>
       <td> {{Transaction.date}} </td>
       <td> {{Transaction.amount}} </td>
       <td> {{Transaction.number}}</td> 
       <td> {{Transaction.code}} </td>
       <td> {{Transaction.wallet}} </td>
       <td> {{Transaction.receipt}} </td>
       <td> {{Transaction.transaction_charge}} </td> 
       <td> {{Transaction.origin_account}} </td>
       <td> {{Transaction.destination_account}}</td> 
 
  <td><a  href="{%url 'transactions_profile' id=transaction.id%}"> View Profile</a>{{account.transaction}}</td>

    </tr>
   {%endfor%}
</table>