<table>
    <th>
       <td>card_name</td>
       <td>card_number</td>
       <td>card_type</td>
       <td>expiry_date</td>
       <td>security_code</td>
       <td>account</td>
       <td>issuer</td>



       

    </th>
   {% for Card in cards %}
   <tr>
       <td> {{Card.card_name}} </td>
       <td> {{Card.card_number}} </td>
       <td> {{Card.card_type}}</td> 
       <td> {{Card.expiry_date}} </td>
       <td> {{Card.security_code}} </td>
       <td> {{Card.account}} </td>
       <td> {{Card.issuer}} </td>



       
    </tr>
   {%endfor%}
</table>