<style>
   table th, td  {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
</style>



<table>

    <tr>
       <th>title</th>
       <th>message</th>
       <th>date</th>
       <th>recipient</th>
       <th>status</th>
       

    </tr>
   {% for Notification in notifications %}
   <tr>
       <td> {{Notification.title}} </td>
       <td> {{Notification.message}} </td>
       <td> {{Notification.date}}</td> 
       <td> {{Notification.recipient}} </td>
       <td> {{Notification.status}} </td>
       
       
    </tr>
   {%endfor%}
</table>